
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="script/angular/angular.js"></script>
    <script src="script/angular/Script.js"></script>
    <link href="Style.css" rel="stylesheet" />
    <title>ResumeUI</title>
</head>


<body ng-app="ResumeUI">
    <h2 style="text-align:center">Make Resume</h2>

    <div class="container" ng-controller="ResumeController">
        <form ng-submit="addReferenceInfo()">
            <div class="row-heading" style="height:80px; text-align:center">
                Reference
            </div>
            <hr />

            <div class="row">
                <div class="col-25">
                    <label for="teacher_name">Teacher Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="teacher_name" name="teacher_name" placeholder="Teacher Name" ng-model="reference.teacher_name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="teacher_email">Teacher Email</label>
                </div>
                <div class="col-75">
                    <input type="text" id="teacher_email" name="teacher_email" placeholder="Teacher@gmail.com" ng-model="reference.teacher_email" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="teacher_phone">Teacher Phone</label>
                </div>
                <div class="col-75">
                    <input type="text" id="teacher_phone" name="teacher_phone" placeholder="01*********" ng-model="reference.teacher_phone" required>
                </div>
            </div>



            <div class="row">
                <button value="Next" class="nextPage" ng-click="redirctToViewResume();" style="height:40px; width:60px;">Next</button>
                <input type="submit" value="Add">

            </div>
            <br /><br />
        </form>


    </div>
</body>
</html>
